#notify-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;  /* prevent covered by YouTube player */
}

.notify-entry {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  border-radius: 0.25rem;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.25),  /* white line */
    inset 0 1rem 0 rgba(255, 255, 255, 0.1),
    inset 0 2rem 2rem rgba(255, 255, 255, 0.2),
    inset 0 -2rem 1rem rgba(0, 0, 0, 0.2),
    0 3px 3px rgba(0, 0, 0, 0.3);
  clear: both;
  color: #FFF;
  float: right;
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0 0 0.6rem;
  padding: 0.75rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}
